/* add your CSS here */
  #fact {
    font-style: italic;
  }

  span {
    font-weight: bold;
  }

  div {
    border-style: ridge;
    border-color: green;
    padding: 6px;
  }

  body {
    width: 330px;
    margin: auto;
  }

  img {
    width: 300px;
    padding: 6px;
  }

  ul {
    text-align: left;
    list-style: none;
    width: 300px;
  }

  h3 {
    text-align: center;
  }
